{%extends "layout.html"%}
{%block content%}

 	<div class="about">
 		<h1>Life is once</h1>
 		<form action="profile" method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">

     {{message}}
     </div>
    </form>

     <div>
     	<form action="{{url_for('data')}}" method="POST">
        <input type="text" name="score">
        <input type="submit" name="my-form" value="Calculate">
         {{message1}}
      </div>
      </form>

 	

{%endblock%}
