<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

  <body>
<script type="text/javascript">
function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {

        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        var startd = new(start.format('YYYY-MM-DD'));
         var endd = new (end.format('YYYY-MM-DD'));
         var sd = new Date(startd);
         var ed = new Date(endd);
        console.log(startd);
    	console.log(endd);
    	console.log(sd);
    	console.log(ed);
         //console.log(startd);
          //console.log(endd);
      }

  /*   $.ajax({
     		url: '/prog',
			data: {'startd':start.format('YYYY-M-D'),'endd':end.format('YYYY-M-D')},
			type: 'GET',
			success: generateD2graph
			}); */

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);





    cb(start, end);

    
}



</script>
</head>
</body>
</html>
