
<script type= text/javascript>
generateD2graph = function (result){
    
var margin = {top: 20, right: 20, bottom: 30, left: 10},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
    var barPadding=2;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(7,"");

var svg = d3.select("#d3-container").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


 /*svg.append("g")
  .attr("class", "x axis")
     .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text") // just for the title (ticks are automatic)
    .attr("transform", "rotate(-90)") // rotate the text!
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("One Metric Score");



  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.pageTitle); })
      .attr("width", x.rangeBand())
       .transition().delay(function (d,i){ return i * 600;})
    .duration(800)
      .attr("y", function(d) { return y(d['One Metric Score']); })
      .attr("height", function(d) { return height - y(d['One Metric Score']); }); */


var data=JSON.parse(result.results);

update(data);


 function update(data){

//var data=JSON.parse(result.results);
console.log("wkfhkjhsfkhjs");
x.domain(data.map(function(d) { return d.pageTitle; }));
y.domain([0, d3.max(data, function(d) { return d['One Metric Score']; })]);



  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.select(".y.axis").remove();
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text") // just for the title (ticks are automatic)
    .attr("transform", "rotate(-90)") // rotate the text!
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("One Metric Score");



  /*svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.pageTitle); })
      .attr("width", x.rangeBand())
       .transition().delay(function (d,i){ return i * 600;})
 		.duration(800)
      .attr("y", function(d) { return y(d['One Metric Score']); })
      .attr("height", function(d) { return height - y(d['One Metric Score']); }); */

      //create new variabel for updating data
      

   var bars = svg.selectAll(".bar").data(data, function(d) { return d.pageTitle; })

    //new data 
   bars.enter().append("rect")
       .attr("class", "bar")
       .attr("x", function(d) { return x(d.pageTitle); })
       .attr("y", function(d) { return y(d['One Metric Score']); })
       .attr("height", function(d) { return height - y(d['One Metric Score']); })
       .attr("width", x.rangeBand());

  //remove the data
  bars.exit().remove();

  //adding animation

    bars
     .transition().duration(750)  // <<< added this
    .attr("y", function(d) { return y(d['One Metric Score']); })
    .attr("height", function(d) { return height - y(d['One Metric Score']); });

/*
  //updated data
  bars
       .attr("y", function(d) { return y(d['One Metric Score']); })
       .attr("height", function(d) { return height - y(d['One Metric Score']); });*/

  //remove previous y axis
/*  svg.select(".y.axis").remove();
  svg.append("g")
    .attr("class", "y axis")
    .append("text") // just for the title (ticks are automatic)
    .attr("transform", "rotate(-90)") // rotate the text!
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("One Metric Score"); */

    


  

/*function wrap(text, width) {
  text.each(function() {
    var text = d3.select(this),
        words = text.text().split(/\s+/).reverse(),
        word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(" "));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
      }
    }
  });
}*/

 // replay(data);

function type(d) {
  d['One Metric Score'] = +d['One Metric Score'];
  return d;
   }

}

/*function replay(data) {
  var slices = [];
  for (var i = 0; i < data.length; i++) {
    slices.push(data.slice(0, i+1));
  }
  slices.forEach(function(slice, index){
    setTimeout(function(){
      draw(slice);
    }, index * 300);
  });
}

*/
/*function draw(data){

  //var data=JSON.parse(result.results);
  /*data.forEach(function(d){

    d.pageTitle=d.pageTitle;
    d['One Metric Score']=d['One Metric Score'];

})
  x.domain(data.map(function(d) { return d.pageTitle; }));
  y.domain([0, d3.max(data, function(d) { return d['One Metric Score']; })]);

  svg.select('.x.axis').transition().duration(300).call(xAxis);
  svg.select(".y.axis").transition().duration(300).call(yAxis)


  var bars = svg.selectAll(".bar").data(data, function(d) { return d.pageTitle; })

  bars.exit()
    .transition()
      .duration(300)
    .attr("y", y(0))
    .attr("height", height - y(0))
    .attr("fill", function(d) {
    return "rgb(0, 0, " + (d * 10) + ")";
})
    //.style('fill-opacity', 1e-6)
    .remove();


  bars.enter().append("rect")
    .attr("class", "bar")
    .attr("y", y(0))
    .attr("height", height - y(0));


    bars.transition().duration(300).attr("x", function(d) { return x(d.pageTitle); }) // (d) is one item from the data array, x is the scale object from above
    .attr("width", x.rangeBand()) // constant, so no callback function(d) here
    .attr("y", function(d) { return y(d['One Metric Score']); })
    .attr("height", function(d) { return height - y(d['One Metric Score']); });
}
}

*/

</script>

