{%extends "layout.html"%}
{%block content%}
<div class="home">
 	<div class="w3-container w3-orange">
	<h1><center>King Content</center></h1>
	<h2><center>Tableau Dashboards</center></h2>
</div>
<ol type="1">
	<li> Client Dashboards </li>
	<ul>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/fclient.html" target="_blank"> Client Profile </li></a>
	</ul>
	<li> Editor Dashboards </li>
	<ul>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/feditor.html" target="_blank"> Editor Profile </li></a>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/fedcomp.html" target="_blank"> Top Editors </li></a>
	</ul>
	<li> Contributor Dashboard </li>
	<ul>
		<li> <a href="http://www.projectjumbo.com:9900/reports/tab_dash/fcont.html" target="_blank">Contributor Profile </li></a>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/fcomp.html" target="_blank"> Top Contributors </li> </a>
	</ul>
	<li> Google Analytics </li>
	<ul>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/tableau_ga_example.html" target="_blank"> Monash University Analytics </a>
		</li>
	</ul>
	<li> Old Dashboards</li>
	<ul>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/fedstory.html" target="_blank"> Editor's Storybook</li></a>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/tableau_weekly_clients.html" target="_blank"> Weekly Clients</li></a>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/tableau_weekly_editors.html" target="_blank"> Weekly Editors</li></a>
		<li><a href="http://www.projectjumbo.com:9900/reports/tab_dash/tableau_weekly_writers.html" target="_blank"> Weekly Writers</li></a>
	</ul>
</ol>
</div>
{%endblock%}
