<!DOCTYPE html>
<html lang="en">
  <head>
  	<style>
  	.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.title {
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
	</style>
  	<script src="http://d3js.org/d3.v3.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Clients</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
	<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
		
	<script type="text/javascript">
		$(document).ready(function() {
			loadClients();
		})
		
		loadClients = function(){
			$.ajax({
				type: 'GET',
				url: '/clients',
				success: generateClientDropdown
			})
		}
		
		generateClientDropdown = function(result) {
			var html = '';
			$('#clients').html('<option>Choose a client<option>');
			for (var i=0; i < result.results.items.length; i++) {
				var clientObj = result.results.items[i];
				$('#clients').html($('#clients').html() + '<option value="' + clientObj.id + '">' + clientObj.name + '</option>');
			}
			
			$('#clients').change(function() {
				var option = $(this).find('option:selected').val();
				$('#profiles-container').html('<select id="profiles" class="form-control"><option>Loading profiles...</option></select>');
				$.ajax({
					type: 'GET',
					url: '/profile',
					data:{'clientid':option},
					success: generateProfileDropdown
				});
			});
		}
		
		generateProfileDropdown = function(result) {
			var html = '';
			$('#profiles').html('<option>Choose a profile</option>');
			for (var i=0; i < result.results.items.length; i++) {
				var profileObj = result.results.items[i];
				$('#profiles').html($('#profiles').html() + '<option value="' + profileObj.defaultProfileId + '">' + profileObj.name + '</option>');
			}
			
			$('#profiles').change(function() {
				var option = $(this).find('option:selected').val();
				$('#scores-container').html('<select id="scores" class="form-control"><option>Loading scores...</option></select>');
				//$('#d3-container').html('<select id="scores" class="form-control"><option>Loading scores...</option></select>');
				$.ajax({
					url: '/prog',
					data: {'profileid':option},
					type: 'GET',
					success: [generateScoresTable,generateD2graph]
				});
			});			
		}




		/*generateViewDropdown = function(result) {
			var html = '';
			$('#views').html('<option>Choose a View</option>');
			for (var i=0; i < result.results.items.length; i++) {
				var viewObj = result.results.items[i];
				$('#views').html($('#views').html() + '<option value="' + viewObj.defaultProfileId + '">' + viewObj.name + '</option>');
			}
			
			$('#views').change(function() {
				var option = $(this).find('option:selected').val();
				$('#scores-container').html('Loading scores...');
				$.ajax({
					url: '/prog',
					data: {'profileid':option},
					type: 'GET',
					success: generateScoresTable
				});
			});			
		}*/
		
		
		
		generateScoresTable = function(result) {
			var html = '<table id="scores-table"><tr><th>Page</th><th>Score</th></tr>';
			var parsed=JSON.parse(result.results);

			//html +='<p>'+parsed+'</p>';
			for (var i = 0; i < parsed.length; i++) {
				var scoreObj = parsed[i];
				html += '<tr><td>' + scoreObj.pageTitle + '</td><td>' + scoreObj['One Metric Score'] + '</td></tr>';
				//var data=scoreObj.pageTitle + scoreObj['One Metric Score'];
				//console.log(data);
			}
			html+= '</table>';
			//html+= '</table>';
			$('#scores-container').html(html);
			//html +='<p>'+data+'</p>'
			//var data=$('#d3-container').html(html);
			//window.alert(data);
		}

		generateDgraph = function(result) {
			//var html = '<table id="scores-table"><tr><th>Page</th><th>Score</th></tr>';
			//var parsed=JSON.parse(result.results);
			//console.log("hello")
			var data=JSON.parse(result.results)
			
		var margin = {top: 80, right: 180, bottom: 80, left: 180},
    		width = 960 - margin.left - margin.right,
    		height = 500 - margin.top - margin.bottom
    		
    		//var barPadding=1;

    	var xScale = d3.scale.ordinal()
    		.rangeRoundBands([0, width], .1,.3);

    	var yScale = d3.scale.linear()
    		.range([height, 0]);

    	var xAxis = d3.svg.axis()
    		.scale(xScale)
    		.orient("bottom");


		var yAxis = d3.svg.axis()
    		.scale(yScale)
    		.orient("left")
    		.ticks(100, "");

    	var svg = d3.select("body").append("svg")
    	    .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
  		.append("g")
    		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    	xScale.domain(data.map(function(d) { return d.pageTitle; }));
       	yScale.domain([0, d3.max(data, function(d) { return d['One Metric Score']; })]);


       	svg.selectAll(".bar")
            .data(data)
            .enter()
            .append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return xScale(d.pageTitle); })
            .attr("width", xScale.rangeBand())
            .attr("y", function(d) { return yScale(d['One Metric Score']); })
            .attr("height", function(d) { return height - yScale(d['One Metric Score']); });

       	svg.append("text")
      		.attr("class", "title")
      		.attr("x", xScale(data[0]['One Metric Score']))
      		.attr("y", -26)
      		.text("One Metric Score");

      	svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);
           selectAll(".tick text")
      		.call(wrap, xAxis.rangeBand());
      	 svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)

            function wrap(text, width) {
  			text.each(function() {
            var text = d3.select(this),
            words = text.text().split(/\s+/).reverse(),
           word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(" "));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
      }
    }
  });
}



            function type(d) {
  			d['One Metric Score'] = +d['One Metric Score'];
  			return d;
			}
			//$('#d3-container').html(html);

            //console.log("hello");

			//for (var i = 0; i < parsed.length; i++) {
				//var scoreObj = parsed[i];
				//html += '<tr><td>' + scoreObj.pageTitle + '</td><td>' + scoreObj['One Metric Score'] + '</td></tr>';
				//var data=scoreObj.pageTitle + scoreObj['One Metric Score'];
				//console.log(scoreObj);
			//}
			//html+= '</table>';
			//html+= '</table>';
			//console.log(scoreObj);
			//$('#d3-container').html(scoreObj);
			//html +='<p>'+data+'</p>'
			//var data=$('#d3-container').html(html);
			//window.alert(data);
		}


generateD2graph = function(result){

			var margin = {top: 80, right: 180, bottom: 80, left: 180},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1, .3);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(7,"");

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var data=JSON.parse(result.results)
  x.domain(data.map(function(d) { return d.pageTitle; }));
  y.domain([0, d3.max(data, function(d) { return d['One Metric Score']; })]);

  svg.append("text")
      .attr("class", "title")
      .attr("x", x(data[0].name))
      .attr("y", -26)
      .text("One Metric Score");

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll(".tick text")
      .call(wrap, x.rangeBand());

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.pageTitle); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d['One Metric Score']); })
      .attr("height", function(d) { return height - y(d['One Metric Score']); });

function wrap(text, width) {
  text.each(function() {
    var text = d3.select(this),
        words = text.text().split(/\s+/).reverse(),
        word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(" "));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
      }
    }
  });
}

function type(d) {
  d['One Metric Score'] = +d['One Metric Score'];
  return d;
}






		}


		/*function updateData(){

			var data=JSON.parse(result.results);

			xScale.domain(data.map(function(d) { return d.pageTitle; }));
       	 	yScale.domain([0, d3.max(data, function(d) { return d['One Metric Score']; })]);


       	 	var svg = d3.select("body").transition();
       	 }*/




		
</script>
			
  </head>
  <body>
	<div class="container">
		<h3>Clients</h3>
		<div id="clients-container" >
			<select id="clients"><option>Loading clients...</option></select>
		</div>
		<div id="profiles-container"></div>
		<!--<div id="views-container"></div> -->
		<div id="scores-container"></div>
		<div id="trial"></div>
		<div id="d3-container"></div>
		<div id="graph"></div>
	<!--	<input name="updateButton" 
           type="button" 
           value="Graph" 
           onclick="updateData()" /> -->te

	</div>
  </body>
</html>